{% extends "@Common/admin/layout.html.twig" %}

{% block body %}
    <form action="/admin/adverts/edit_action" method="POST">

        <div class="form-group">
           <label for="advert-title">Title:</label>
            <input name="title" class="form-control" id="advert-title" value="{{ item.title }}" required/>
        </div>

        <div class="form-group">
            <label for="advert-message">Message:</label>
          <textarea class="form-control" id="advert-message" name="message" rows="10" required>{{ item.message }}</textarea>
        </div>

        <div class="form-group">
           <label for="advert-phone-number">Phone number:</label>
           <input name="phone" class="form-control" id="advert-phone-number" placeholder="078123456" value="{{ item.phone }}" required/>
        </div>

        <div class="form-group">
           <div class="form-check">
               <input type="hidden" name="status" value="0"/>
               <input type="checkbox" id="advert-status" class="form-check-input" name="status" value="1" {% if item.status is defined and not item.status %}{% else %}checked{% endif %}/>

               <label class="form-check-label" for="advert-status">Status</label>
           </div>
        </div>

        <div class="form-group">
            <input type="hidden" name="id" value="{{ item.id }}"/>
            <button class="btn btn-primary mb-2">Submit</button>
        </div>

    </form>
{% endblock body %}
