<?php

$db = [
    'host' => '172.17.0.1',
    'port' => '3308',
    'user' => 'exercise',
    'pass' => 'qwerty',
    'name' => 'exercise'
];

$admin = [
    'user' => 'admin',
    'pass' => 'qewrty'
];
