{% extends "@Common/admin/layout.html.twig" %}

{% block body %}
    <div class ="content">
        <a href="/admin/adverts">Adverts</a>
        <a href="/admin/users">Users</a>
    </div>
{% endblock body %}
