{% extends "@Common/admin/layout.html.twig" %}

{% block body %}
<div class="content">
    <p><b>{{ result }}</b></p>
    <p><a href="/admin/users/add">Add another one user</a></p>
    <p><a href="/admin/users">Return to the list of users</a></p>
</div>
{% endblock body %}
