{% extends "@Common/admin/layout.html.twig" %}

{% block body %}
<div class="content">
    <form enctype="multipart/form-data" action="/admin/users/csv_action" method="POST">
        <input type="file" name="browse_csv"/>
        <input type="submit" name="send_csv" value="Send"/>
    </form>
</div>
{% endblock body %}
