{% extends "@Common/layout.html.twig" %}

{% block body %}
  <div class="content">
    <p>{{ item.title }}</p>
    <p>{{ item.message }}</p>
    <p>{{ item.phone }}</p>
    <a href="/">Return to adverts list</a>
  </div>
{% endblock body %}
