<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title is defined ? title : '' }}</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">

    <style>

        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=cyrillic);

        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            width: 1140px;
            margin: 0 auto;
        }

        .bar {
            margin-top: 10px;
            text-align: right;
         }

        .header {
            font-size: 30px;
            margin-top: 10px;
            padding: 10px;
            background-color: cornflowerblue;
        }

        .content {
            margin-top: 10px;
        }

        .footer {
            margin-top: 10px;
        }

    </style>

</head>
<body>
    <div class="bar">
        {% if session.user_login_name is defined %}
            Hi {{ session.user_login_name }} | <a href="/user/logout">log out</a>
        {% else %}
            <a href="/user/login">log in</a> | <a href="/user/registration">registration</a>
        {% endif %}
    </div>
    <div class="header">
        <b>HEADER</b>
    </div>
    {% if errors is defined and errors %}
        {% for error in errors %}
            <p style="color: #C1272D;">{{ error }}</p>
        {% endfor %}
    {% endif %}
    {% block body %}{% endblock body %}
    <div class="footer">
        <p>&copy;{{ "now"|date("Y") }}</p>
    </div>
</body>
</html>
